
# Created by https://www.gitignore.io/api/oc,macos
# Edit at https://www.gitignore.io/?templates=oc,macos

*.xcuserstate
*.DS_Store

build/
bin/
x64/

FULivePC/MAC_DATA/Info.plist
FULivePC/MAC_DATA/ResPic.bundle
FULivePC/MAC_DATA/Resource.bundle


### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

#imgui.ini
imgui.ini
# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#!! ERROR: oc is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/oc,macos
